<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/errorFregment">
<body layout:fragment="errorContent">
<div class="container">

    <div class="error">
        <p class="p">ERR</p>
        <span class="dracula">
                            <div class="con">
                                <div class="hair"></div>
                                <div class="hair-r"></div>
                                <div class="head"></div>
                            <div class="eye"></div>
                            <div class="eye eye-r"></div>
                            <div class="mouth"></div>
                            <div class="blod"></div>
                            <div class="blod blod2"></div>
                            </div>
                        </span>
        <p class="p">R</p>
        <div class="page-ms">
            <p class="page-msg"> Oops, the page you're looking for Disappeared </p>
            <p class="page-msg" th:text="${error}"> Hibakód</p>
            <p class="page-msg" th:text="${message}"> HIbaüzenet</p>
            <p class="page-msg" th:text="${path}"> Elérési út</p>
            <p class="page-msg" th:text="${status}"> Státusz</p>
            <p class="page-msg" th:text="${timestamp}"> időbélyeg</p>
            <button onclick="goBack()" class="go-back">Go Back</button>
        </div>
    </div>
</div>

<iframe style="width:0;height:0;border:0; border:none;" scrolling="no" frameborder="no" allow="autoplay"
        src="https://instaud.io/_/2Vvu.mp3"></iframe>
</body>

</html>